body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: antiquewhite; */
}
* {
    /* border: 1px solid transparent; */
    box-sizing: border-box;
}
.container {
    margin: 0 200px 0;
    height: 2000px;
}
.top, .footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 8px 200px 8px;
}
.header div {
    margin: 8px;
}
.header .link {
    display: flex;
    flex-wrap: nowrap;
    width: 270px;
    justify-content: flex-end;
}
.header .link a:visited, .header .link a {
    text-decoration: none;
    color: white;
}
.header .link a:hover {
    background-color: black;
}
.top-container {
    display: flex;
    padding: 100px 0 100px;
    width: 100%;
}
.logo {
    width: 100%;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}
.hero-box .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-box div {
    margin: 8px ;

}
.hero-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 200px;
    padding-right: 30px;
    width: 500px;
}
.placeholder {
    width: 600px;
    height: 300px;
    justify-self: flex-end;
    margin-right: 200px;
    margin-left: 50px;

}
.content, .link {
    font-size: 18px;
    color: #E5E7EB;
}
.sign-up {
    cursor: pointer;
    margin: 8px;
    width: fit-content;
    padding: 8px 25px 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    border-radius: 7px;
    border: #F9FAF8;
}
.main {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px;
}
.pic-holder {
    display: flex;
    margin-bottom: 100px;
    
}
.pic-holder .block {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    font-size: 18px;
    text-align: center;
}
.mid {
    background-color: #c3bfbf;
    padding: 150px 0 150px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-weight: 100;
    margin: 0px 300px 0;
}
.thor {
    text-align: end;
    margin-right: 300px;
    font-size: 25px;
    font-weight: 900;
}

.image {
    width: 180px;
    height: 180px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}
.image img {
    border-radius: 15px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
button, .call {
    background-color: #3882F6;
}
.bot {
    background-color: #E5E7EB;
    padding: 40px 0 40px;
}
.call {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0;
    padding: 40px;
    border-radius: 10px;
}
.text {
    margin-left: 80px;
    color: #F9FAF8;
    margin-right: 80px;
    
}
.text .title {
    font-size: 25px;
    font-weight: 800;
}.call .sign-up {
    margin-right: 80px;
    border: 2px solid white;
}
.footer {

    color: #F9FAF8;
    padding: 40px 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


